html, body { height: 100%; }

.parent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

body { 
    background: url(../images/carbonHome.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  }

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}

h1, h2, h3, h4, a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.text-field-home, .question {
  text-align: center;
  background-color: blanchedalmond;
  color: black;
  border-radius: 15px;
  position: absolute;
  width: 45%;
  padding: 15px;
  top: 22%;
}

.button {
    width: 300px;
    margin: 10px;
    text-decoration: none;
    background-image: url(/assets/images/carbonHomepage.jpg);
    color: white;
    border: black solid 3px;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-shadow: 30px 1px 12px black;
}

footer {
    bottom: 0;
    margin-bottom: 5px;
    position: absolute;
    height: fit-content;
    width: 100%;
    text-align: center;
    text-shadow: 30px 1px 12px black;
}

#game-highscore {
  position: absolute;
  bottom: 50px;
  right: 25px;
}

#game-footer {
  position: absolute;
  bottom: 15px;
  left: 15px;
  text-decoration: solid;
}

#question {
  text-align: center;
  background-color: blanchedalmond;
  color: black;
  border-radius: 15px;
  position: absolute;
  top: 12%;
  width: 45%;
  padding: 15px;
}

#q-answered-text {
  bottom: 25%;
}

.q-button {
    background-color: white;
    width: 400px;
    margin: 10px;
    text-decoration: none;
    color: black;
    border: black solid 3px;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
}

#next-button {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: larger;
  text-shadow: 30px 1px 12px black;
}

.q-answered-text {
  text-align: center;
  background-color: blanchedalmond;
  color: black;
  border-radius: 15px;
  width: 30%;
  padding: 15px;
  position: absolute;
}

#final-score {
  color: white;
  font-weight: 1000;
}

#end-button {
  position: absolute;
  bottom: 65px;
  right: 25px;
}

#game-footer {
  position: absolute;
  bottom: 15px;
  left: 15px;
  text-decoration: solid;
}

footer a {
  text-decoration: underline;
  display: grid;
}


/* For mobile or devices less than 400. px. */
@media only screen and (max-width: 400px) {
  h2 {
    font-size: medium;
    font-weight: bolder;
  }

  .question, .text-field-home, .q-answered-text, .q-button{
    width: 80%;
  }


  #end-button {
    bottom: 0;
  }

  .question {
    top: 10%;
  }

  #q-answered-text {
    bottom: 15%;
  }

  * {
    box-sizing: content-box;
  }
}
